@(locations: String)

<!DOCTYPE html>

<html ng-app="weatherproof">
<head>
    <title>WeatherProof</title>
    <link rel="stylesheet" href="css/bootstrap-3.0.0-spacelab.min.css">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.js"></script>
    <script src="js/ui-bootstrap-tpls-0.5.0.min.js"></script>
    <script src="js/thecode.js"></script>
    <style> 
        body {
            background-color:#99ff33;
        }

        table {
            background-color:#ffffff;
        }
      
    </style>
</head>
<body>
    <div class="row">
        <div class="col-lg-3"> 
            <img src="https://trello-attachments.s3.amazonaws.com/5200d963de01ba673f001da9/5200f2978dcaec2b6b001d59/5fce23be7593f42dad20ed9d19696184/Logo_weatherpoof.png" height="200" width="200"  alt="">
        </div>
        <div class="col-lg-9">
            <font size="10"><strong>WeatherProof</strong></font> <br>
            <font size="6"><em>Forecast my travel</em></font>
        </div>
    </div>

    <div class="jumbotron">
        <p>Welcome to WeatherProof the online facility that gives daily advice on how to prepare for the day ahead. Choose the location that you wish to gain advice about and the times you will be outside at that location. </p>
    </div>

    <div class='container-fluid' ng-controller="TypeaheadCtrl">
        <input type="text" ng-model="selected" typeahead="state for state in states | filter:$viewValue | limitTo:8">
    </div>

    <div ng-controller="HoursOutdoorss">
        <br>
        <h4 align = 'center'> Tick the hours when you will be outside:</h4>
        <h1 align='center'><strong> AM </h1></strong> 
        <br>
        <table border="2" cellpadding='10' align='center'>
            <tr>
               <td><font size="5">12</font></td>
                <td><font size="5.5">1</font></td>              
                <td><font size="5.5">2</font></td>
                <td><font size="5.5">3</font></td>
                <td><font size="5.5">4</font></td>
                <td><font size="5.5">5</font></font></td>
                <td><font size="5.5">6</font></td>
                <td><font size="5.5">7</font></td>             
                <td><font size="5.5">8</font></td>
                <td><font size="5.5">9</font></td>
                <td><font size="5">10</font></td>
                <td><font size="5">11</font></td>
            </tr>
            <tr>
                <td><input type='checkbox' ng-model='hour00'></td>
                <td><input type='checkbox' ng-model='hour01'></td>
                <td><input type='checkbox' ng-model='hour02'></td>
                <td><input type='checkbox' ng-model='hour03'></td>
                <td><input type='checkbox' ng-model='hour04'></td>
                <td><input type='checkbox' ng-model='hour05'></td>
                <td><input type='checkbox' ng-model='hour06'></td>
                <td><input type='checkbox' ng-model='hour07'></td>
                <td><input type='checkbox' ng-model='hour08'></td>
                <td><input type='checkbox' ng-model='hour09'></td>
                <td><input type='checkbox' ng-model='hour10'></td>
                <td><input type='checkbox' ng-model='hour11'></td>
            </tr>
        </table> <br>
        <h1 align='center'><strong> PM </h1></strong> 
        <br>
         <table border="2" cellpadding='10' align='center'>
            <tr>      
                <td><font size="5">12</font></td>
                <td><font size="5.5">1</font></td>
                <td><font size="5.5">2</font></td>
                <td><font size="5.5">3</font></td>
                <td><font size="5.5">4</font></td>
                <td><font size="5.5">5</font></font></td>
                <td><font size="5.5">6</font></td>
                <td><font size="5.5">7</font></td>
                <td><font size="5.5">8</font></td>
                <td><font size="5.5">9</font></td>
                <td><font size="5">10</font></td>
                <td><font size="5">11</font></td>
            </tr>
            <tr>
                <td><input type='checkbox' ng-model='hour12'></td>
                <td><input type='checkbox' ng-model='hour13'></td>
                <td><input type='checkbox' ng-model='hour14'></td>
                <td><input type='checkbox' ng-model='hour15'></td>
                <td><input type='checkbox' ng-model='hour16'></td>
                <td><input type='checkbox' ng-model='hour17'></td>
                <td><input type='checkbox' ng-model='hour18'></td>
                <td><input type='checkbox' ng-model='hour19'></td>
                <td><input type='checkbox' ng-model='hour20'></td>
                <td><input type='checkbox' ng-model='hour21'></td>
                <td><input type='checkbox' ng-model='hour22'></td>
                <td><input type='checkbox' ng-model='hour23'></td>
           </tr>
        </table>
        <br>  
    </div>
    <div>
        <br> 
        <center><button  type="button" width= '1000'
        onclick="alert('Today you need to wear:')">Give me my advice!</button></center>

<br>

</body>
</html>