@(message: String)

<!DOCTYPE html>

<html ng-app="weatherproof">
<head>
	<title>WeatherProof</title>
	<link rel="stylesheet" href="css/bootstrap-3.0.0-spacelab.min.css">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<script src="js/ui-bootstrap-tpls-0.5.0.min.js"></script>
	<script src="js/thecode.js"></script>
</head>
<body>
	<h1>WeatherProof</h1>
	<div class='container-fluid' ng-controller="TypeaheadCtrl">
	    <pre>Model: {{selected| json}}</pre>
	    <input type="text" ng-model="selected" typeahead="state for state in states | filter:$viewValue | limitTo:2">
	</div>
</body>
</html>